body {
	background: #fff;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-family: sans-serif;
	font-size: 9pt;
}

.smallButton {
	width: 60px;
}

.inputCaption {
	font-family: sans-serif;
	font-size: 9pt;
}

select {
	border-collapse: collapse;
	border: 1px solid #000;
	margin-right: 5px;	
	font-family: sans-serif;
	font-size: 9pt;
}

.standardField {
	font-family: sans-serif;
	font-size: 9pt;
}








img {
	border: 0;
}
button {
	border-collapse: collapse;
	border: 1px solid #aaa;
	background-color: #ddd;
	text-align: center;
	font-family: sans-serif;
	font-size: 8pt;
	color: #000;
	margin-right: 3px;
	padding: 0px;
}
#main {
	border: 0;
	width: 100%;
	height: 85%;
}
#child {
	border: 0;
	width: 100%;
	overflow: visible;
}
#hookSystem {
	width: 100%;
	border: 0px;
}
.tabBG { background-color: #000; }
.tabTop div  { background: url(../img/tL_000000.gif) no-repeat top left; }
.tabTop      { background: url(../img/tR_000000.gif) no-repeat top right; }
																										   
.tabBG_selected { background-color: #bb0000; }
.tabTop_selected div  { background: url(../img/tL_bb0000.gif) no-repeat top left; }
.tabTop_selected      { background: url(../img/tR_bb0000.gif) no-repeat top right; }
																										   
.tabTop div, .tabTop, .tabTop_selected div, .tabTop_selected {
	height: 5px;
	font-size: 1px;
}
.tabContent  {
	text-align: center;
	height: 18px;
}
.tabContent_selected  {
	text-align: center;
	height: 18px;
}
.tabBase  {
	background-color: #ddd;
	height: 10px;
	border-top: 4px solid #bb0000;
}
.tabSpacer {
	width: 2px;
}
.tabLink  {
	font-family: sans-serif;
	font-size: 9pt;
	color: #fff;
	text-decoration: none;
	padding-left: 6px;
	padding-right: 6px;
}
.tabLink:hover  {
	color: #fff;
	text-decoration: underline;
}
.tabLink_selected  {
	font-family: sans-serif;
	font-size: 9pt;
	color: #fff;
	text-decoration: none;
	padding-left: 6px;
	padding-right: 6px;
}
.tabLink_selected:hover  {
	color: #fff;
	text-decoration: underline;
}
#savvisLogo {
	margin-right: 10px;
	margin-bottom: 5px;
}
#appLogo {
	border: 0px;
	margin-right: 10px;
}
.topTbl {
	border: 0px;
	width: 100%;
	margin-bottom: 10px;
}
.topSVLogo {
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	text-align: left;
	vertical-align: top;
	text-align: right;
}
.topName {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	color: #777777;
	font-family: sans-serif;
	font-size: 10pt;
	font-style: italic;
	text-align: left;
	height: 18px;
	vertical-align: top;
}
.topPageName {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	color: #bb0000;
	font-family: sans-serif;
	font-size: 14pt;
	font-weight: bold;
	word-spacing: 5px;
	text-align: left;
	vertical-align: top;
}
.pgHdr {
	color: #bb0000;
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 2em;
}
.formTbl {
	border-collapse: collapse;
	border-top: 1px solid #000;
	margin-bottom: 3px;
	margin-top: 3px;
	width: 100%;
}
.formCaption {
	font-family: sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #999;
	vertical-align: top;
	text-align: left;
	width: 125px;
	border-collapse: collapse;
	border-right: 1px solid #ccc;
}
.formInput {
	border-collapse: collapse;
	border: 1px solid #aaa;
	font-family: sans-serif;
	font-size: 9pt;
	color: #000;
}
.formInput-required {
	border-collapse: collapse;
	border: 1px solid #aaa;
	font-family: sans-serif;
	font-size: 9pt;
	color: #000;
	background-color: lightyellow;
}
.formInput-readonly {
	border-collapse: collapse;
	border: 1px solid #aaa;
	font-family: sans-serif;
	font-size: 9pt;
	color: #000;
	background-color: #ddd;
}
.formInput-qf {
	border-collapse: collapse;
	border: 2px solid #003399;
	font-family: sans-serif;
	font-size: 9pt;
	color: #000;
	background-color: lightblue;
}
.formInput-required-qf {
	border-collapse: collapse;
	border: 2px solid #003399;
	font-family: sans-serif;
	font-size: 9pt;
	color: #000;
	background-color: lightyellow;
}
.formCore {
	font-family: sans-serif;
	font-size: 9pt;
	color: #000;
	text-align: left;
	padding-left: 5px;
}
.formView {
	font-family: sans-serif;
	font-size: 9pt;
	color: #000;
	text-align: left;
	padding-left: 5px;
}
.summaryTbl {
	border-collapse: collapse;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin-bottom: 3px;
	width: 100%;
}
.summaryTblHdr {
	background-color: #000;
	color: #fff;
	font-family: sans-serif;
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
}
.summaryCell {
	border-collapse: collapse;
	border: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	font-family: sans-serif;
	font-size: 9pt;
	text-align: left;
}
.homeLink {
	font-family: sans-serif;
	font-size: 8pt;
	font-style: italic;
	color: #777777;
	text-decoration: none;
}
.homeLink:hover {
	text-decoration: underline;
}
.drillLink {
	font-family: sans-serif;
	font-size: 9pt;
	color: #bb0000;
	text-decoration: none;
}
.drillLink:hover {
	text-decoration: underline;
}
.loginHdr {
	color: #bb0000;
	font-family: sans-serif;
	font-size: 12pt;
	letter-spacing: 1px;
	word-spacing: 5px;
}
.loginCaption {
	color: #000000;
	font-family: sans-serif;
	font-size: 9pt;
	font-weight: bold;
	width: 100px;
}
.loginInput {
	border-collapse: collapse;
	border: 1px solid #ccc;
	color: #000000;
	font-family: sans-serif;
	font-size: 9pt;
	font-weight: bold;
}
.loginMsgHdr {
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #bb0000;
}
.loginMsg {
	font-family: sans-serif;
	font-size: 8pt;
	color: #000;
}
.dualMultiSelect {
	border-collapse: collapse;
	border: 1px solid #bbb;
	font-family: sans-serif;
	font-size: 9pt;
	color: #000;
}
.dualMultiSelectItem {
	padding-right: 20px;
}
.btnCellMultiSelect {
	width: 60px;
	text-align: center;
	vertical-align: top;
}
.captionMultiSelect {
	font-family: sans-serif;
	font-size: 8pt;
	font-style: italic;
}
.quickHdr  {
	background-color: #ddd;
	border-bottom: 1px solid #bb0000;
	font-family: sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #000;
	padding: 2px 0px 2px 4px;
}

.quickFtr  {
	background-color: #bb0000;
	height: 2px;
}
.quickSep  {
	background-color: #fff;
	height: 10px;
}
.quickText {
	font-family: sans-serif;
	font-size: 9pt;
	color: #000;
}
.quickLinks {
	font-family: sans-serif;
	font-size: 9pt;
	color: #000;
	text-decoration: none;
}
.quickLinks:hover {
	text-decoration: underline;
}
.homePgName {
	color: #003399;
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
	height: 25px;
	vertical-align: top;
}
.listTbl {
	border-collapse: collapse;
	border: 0px;
	margin-bottom: 3px;
}
.listHdr {
	background-color: #dddddd;
	border-bottom: 1px solid #bb0000;
	color: #000;
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
}
.listData {
	border-collapse: collapse;
	border-bottom: 1px solid #bbb;
	color: #000;
	font-family: sans-serif;
	font-size: 8pt;
	vertical-align: top;
}
.listDrill {
	font-family: sans-serif;
	font-size: 8pt;
	color: #bb0000;
	text-decoration: none;
}
.drillLink:hover {
	text-decoration: underline;
}
.footerLine {
	border: 0px;
	height: 2px;
	background-color: #bb0000;
}
.footerTxt {
	color: #000;
	font-family: sans-serif;
	font-size: 7pt;
	font-style: italic;
}
.qfDataCell {
	border-collapse: collapse;
	border-bottom: 1px solid #bbb;
	background-color: #ddd;
	font-family: sans-serif;
	font-size: 9pt;
	color: #000;
}
.qfDataAdmin {
	border-collapse: collapse;
	border-bottom: 0px;
	background-color: #eee;
	font-family: sans-serif;
	font-size: 9pt;
	font-style: italic;
	color: #000;
}
.qfDataLink {
	font-family: sans-serif;
	font-size: 9pt;
	color: #000;
	text-decoration: none;
}
.qfDataLink:hover {
	text-decoration: underline;
}
.qfDataLinkClose {
	font-family: sans-serif;
	font-size: 8pt;
	font-style: italic;
	color: #000;
	text-decoration: none;
}
.qfDataLinkClose:hover {
	text-decoration: underline;
}
.empIsDirty {
	background-color: #bb0000;
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #fff;
	padding: 5px;
	padding-left: 25px;
	width: 235px;
	height: 37px;
}